*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vw;
  width: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

div{
  height: 200px;
  width: 200px;
  background-color: brown;

}

